div{
	border-style:solid;
	border-width: 5px;
	border-color: brown;
	padding: 30px;
}
.container {
	border-color: blue;
}
.row {
	border-color: green;
}
body{
	border-color: yellow;
}
.list-group-item{
	border: 0;
	margin-top: 30px;
	margin-bottom: 30px;
}