body {
    background-image: url('file:///C:/Users/Student/Pictures/School/app%20academy/fantasy_post_apocalyptic_apocalyptic_1366x768_23832.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.about-me{
	text-align: center;
}
html, h1{
	font-family: 'Shojumaru', cursive;
}
div{
	border-style:solid;
	border-width: 5px;
	border-color: brown;
	padding: 30px;
}
.container {
	border-color: blue;
}
.row {
	border-color: green;
}
body{
	border-color: yellow;
}
.list-group-item{
	border: 0;
	margin-top: 30px;
	margin-bottom: 30px;
}